*{
    margin: 0;
    padding: 0;
}
.fondo{
    
    width: 100%;
    height: 100%;
}
.nube{
    width: 350px;
    position: absolute;
    top: 20px;
    right: 0px;
    transition: transform 1s ease-in-out;
    animation-name: moverNube;
    animation-duration: 12s;
    opacity: 0;
}
.lluvia{
    width: 200px;
    position: absolute;
    top: 60px;
    right: 650px;
    /* animation: lluviaCayendo 0.2s linear infinite; */
    opacity: 0;
    animation-name: lluviaCayendo;
    transition: transform 1s ease-in-out;
    animation-duration: 12s;
    /* background: url('images/lluvia.png') repeat; */
    
}
@keyframes moverNube{

    10%{
        opacity: 1;
    }    
    35%,65%{
        transform: translateX(-75vh);
        opacity: 1;
    }
    
}
@-webkit-keyframes moverNube{
    
    10%{
        opacity: 1;
    }   
    35%,65%{
        transform: translateX(-75vh);
        opacity: 1;
    }
}
@keyframes lluviaCayendo{
    0%,44%{
        opacity: 0;
        transform: translateY(0);
    }
    45%,55%{
        opacity: 1;
        transform: translateY(50px);
         
    }
    56%,100%{
        opacity: 0;
        transform: translateY(0);
    }
}
